<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RefrenceProgram.Properties.Settings.RefrencesDDOOCPConnectionString"
            connectionString="Data Source=DESKTOP-U5R86GV;Initial Catalog=RefrencesDDOOCP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RefrenceProgram.Properties.Settings.ReferencesDDOOCPConnectionString"
            connectionString="Data Source=DESKTOP-4JUOUSQ;Initial Catalog=ReferencesDDOOCP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
